.projectList{
    position: relative;
}
.projectList::before{
    content: "";
    height: calc(100% - 46px);
    width: 2px;
    background-color: #0d6efd;
    position: absolute;
    left: 13px;
    top:8px;
}
.projectList li{
    margin-bottom: 15px;
    position: relative;

}

.projectList li::before{
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid #0d6efd;
    border-radius: 50%;
    background-color:aliceblue ;
    position: absolute;
    left: -28px;
    top:0px;
}

.projectList li::after{
    content: "";
    height: 15px;
    width: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color:#0d6efd ;
    position: absolute;
    left: -25.5px;
    top:2.6px;
}
.projectList li:nth-child(4):after{
    background-color: #0d6dfd87;
}
.projectList li:nth-child(5):after{
    background-color: aliceblue;

}