.Project img{
    width: 35px;
    height: 35px;
    margin-left: -15px;
}
.Project td.Yellow span{
    background-color: #ffc107;
}
.Project td.blue span{
    background-color: #0d6efd;
}
.Project td.green span{
    background-color:#198754 ;
}
.Project td.red span{
    background-color:#dc3545 ; 
}
.Project td span{
    color: #fff;
    font-size: 13px;
}
@media screen and (width < 767px) {
    .Project{
        font-size: 10px;
        overflow:auto;
    }
    .Project td{
        padding: 4px !important;
    }
    .Project td span{
        font-size: 10px;
        text-wrap: nowrap;
    }
}