.search-bar{
    box-shadow: 0 0 30px 15px rgba(153, 153, 153, 0.335);
    padding: 50px;

}

.search-box{
    border: 2px solid #999;
}

#search{
    border: none;
    outline: none;
    background-color: transparent;
}
.s-img{
    width: 40px;
    height: 40px;
}
.notification .icon{
    position: relative;
}
.notification .icon::before{
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: red;
    right: -2.5px;
    top: -2.5px;
}